*, ::after, ::before {
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
}
footer{
    margin-top: auto;
}

.container{
    display: flex;
    width: 100%;
    padding: 20px;
}
main,aside{
    border: 1px solid #ccc;
    padding: 20px;
}
main{
    width: 70%;    
    margin-right: 20px;
}
aside{
    width: 30%;
    margin-left: auto;        
}
h1{
    margin: 0 0 10px 0;
    font-size: 22px;
}
h2{
    margin: 0 0 10px 0;
    font-size: 18px;
}
.form-text-element{
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    background-color: #fff;
    padding: 5px 10px;
    line-height: 1.5;
}
form button:focus,
form input:focus{
    outline: none;
}
.form-btn {
    color: #fff;
    background-color: #6c757d;    
    border: 1px solid #6c757d;
    border-radius: 4px;
    text-align: center;
    padding: 5px 10px;
    line-height: 1.5;
}
.form-btn:hover {    
    background-color: #5a6268;
    border-color: #545b62;
    cursor: pointer;
}